$tema: ".lemon_curry";
$primary-color: #FFF700;
$secondary-color: #EE9923;
$tertiary-color:  #F7C71C;
$default-color: black;
$backgorund-color: #DC8323;

$text-primary-color: black;
$text-secondary-color:  black;
$text-highlight-color: #CC9C1C;

@include buttons_func($tema,$default-color, $text-primary-color);
@include buttons_func($tema,$primary-color, $text-primary-color, "primary");
@include buttons_func($tema,$secondary-color, $text-secondary-color, "secondary");
@include buttons_func($tema,$tertiary-color, $text-highlight-color, "tertiary");

@include hero_func($tema,$backgorund-color, $text-primary-color);
@include div_class_func($tema,$tertiary-color, $default-color,"sidenav");
@include div_class_func($tema,$tertiary-color, $text-primary-color,"xs-100");
@include div_class_func($tema,$backgorund-color, $text-primary-color,"main-container");
@include text_func($tema, $text-primary-color,"sidenav ul li");