$tema: ".not_dark_yet";
$primary-color: #6C240C;
$secondary-color: #8F473B;
$tertiary-color:  #A57043;
$default-color: white;
$backgorund-color: #2E4C4A;

$text-primary-color: white;
$text-secondary-color:  white;
$text-highlight-color: white;

@include buttons_func($tema,$default-color, $text-primary-color);
@include buttons_func($tema,$primary-color, $text-primary-color, "primary");
@include buttons_func($tema,$secondary-color, $text-secondary-color, "secondary");
@include buttons_func($tema,$tertiary-color, $text-highlight-color, "tertiary");

@include hero_func($tema,$backgorund-color, $text-primary-color);
@include div_class_func($tema,$tertiary-color, $default-color,"sidenav");
@include div_class_func($tema,$tertiary-color, $text-primary-color,"xs-100");
@include div_class_func($tema,$backgorund-color, $text-primary-color,"main-container");
@include text_func($tema, $text-primary-color,"sidenav ul li");